.left-sidebar {
    border-right: 1px solid var(--color-border);
    display: flex;
    position: sticky;
    padding: 1rem;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 2rem);

    .logo {
      display: flex;
      align-items: center;
      padding: 1rem;
      
      .logo-icon {
        height: 60px;
        margin-right: 10px;
      }
      
      .logo-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    
    .main-nav {
      margin-top: 2rem;
      
      .nav-link, .post-creation-button {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        width: 80%;
        padding: 0.75rem;
        margin-bottom: 0.5rem;
        border-radius: 9999px;
        cursor: pointer;
        color: var(--color-text);
        text-decoration: none;
        
        mat-icon {
          margin-right: 1rem;
          color: var(--color-text);
        }
        
        &.active {
          font-weight: bold;
        }

        &:hover {
          background: var(--color-hover);
        }
      }
      
      .post-creation-button {
        background: var(--color-primary);
        color: var(--color-text-light);
        border: none;
        justify-content: center;
        font-size: larger;
        padding-right: 2rem;

        mat-icon {
            color: var(--color-text-light);
        }

        &:hover {
          background: var(--color-secondary);
          color: var(--color-text);
          border: solid 1px var(--color-secondary);
          mat-icon {
            color: var(--color-text);
          }
        }
      }
    }
    
    .user-profile {
      display: flex;
      align-items: center;
      padding: 1rem;
      margin-top: auto;
      border: 1px solid var(--color-primary);
      border-radius: 9999px;
      color: var(--color-text-light);
      background-color: var(--color-primary);
      font-size: larger;
      width: 80%;
      height: 25px;
      gap: 15px;
      
      .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: white;
      }
      
      .user-info {
        display: flex;
        flex-direction: column;
        
        .userTag {
          color: var(--color-info);
          font-size: 0.9rem;
        }
      }

      .logout-button {
        margin-left: auto;
        margin-top: auto;
        color: var(--color-text-light);
        background: none;
        border: none;
        cursor: pointer;
        
        &:hover {
          opacity: 1;
          color: var(--color-danger);
        }
        
        mat-icon {
          font-size: 1.2rem;
        }
      }
    }
}