<div class="left-sidebar">
    <div class="logo">
      <img src="assets/images/tiny-twitter-logo.png" alt="Logo" class="logo-icon">
      <span class="logo-text">TinyTwitter</span>
    </div>
    
    <nav class="main-nav">
      <a routerLink="/home" class="nav-link" [class.active]="isActive('/home')">
        <mat-icon>home</mat-icon>
        <span>Accueil</span>
      </a>
      <a [routerLink]="['/profile', userTag]" class="nav-link" [class.active]="isActive('/profile')">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <button class="post-creation-button" (click)="postClick()">
        <mat-icon>edit</mat-icon>
        <span>Poster</span>
      </button>
    </nav>
    
    <div class="user-profile">
      <img  [src]="avatarUrl" alt="Profile" class="profile-pic">
      <div class="user-info">
        <span class="userName">{{ userName }}</span>
        <span class="userTag">&#64;{{ userTag }}</span>
      </div>
      <button mat-icon-button class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <!-- <button (click)="toggleTheme()">
      <mat-icon>{{ currentTheme === 'light' ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </button> -->
</div>
<app-post-modal #postModal></app-post-modal>