:root {
  --color-primary: #0f1419; /* Example primary color */
  --color-secondary: #949494; /* Example secondary color */
  --color-border: #e1e8ed;
  --color-background: #f7f9f9;
  --color-text: #000000;
  --color-text-light: #ffffff;
  --color-info: #666;
  --color-icons: #657786;
  --color-muted: #7e7e7e;
  --color-hover: #ececec;
  --color-danger: #ff4d4f;
}

[data-theme='dark'] {
  --color-primary: #1a1a1a; /* Example primary color */
  --color-secondary: #666666; /* Example secondary color */
  --color-border: #444444;
  --color-background: #2c2c2c;
  --color-text: #ffffff;
  --color-text-light: #cccccc;
  --color-info: #aaaaaa;
  --color-icons: #bbbbbb;
  --color-muted: #888888;
  --color-hover: #333333;
  --color-danger: #ff4d4f;
}