<div class="home-container">
    <header class="header">
      <h1>TinyTwitter</h1>
      <nav>
        <a routerLink="/profile" class="profile-link">Profile</a>
      </nav>
    </header>
  
    <main class="main-content">
      <h2 class="section-title">Accueil</h2>
      <mat-divider></mat-divider>
  
      <section class="for-you-section">
        <h3 class="subsection-title">Pour vous</h3>
        <mat-form-field appearance="outline" class="search-bar">
          <mat-label>Chercher</mat-label>
          <input matInput placeholder="Rechercher sur TinyTwitter">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </section>
    </main>
  </div>